@import '../assets/styles/vars.less';
.kant-select {
  .ant-select {
    border-radius: 4px;
  }

  .ant-select-open {
    .ant-select-selection {
      background: fade(@primary-color, 20%);
    }
  }
}

.kant-select-dropdown {
  .kant-append-option {
    padding: 0;
    margin: 0;
    &-wrapper{
      cursor: default;
    }
  }
  // 清除样式
  box-shadow: none;
  background: transparent;

  .kant-menu {
    overflow: hidden;
    width: calc(100% + 20px);
    padding: 0 10px 10px 10px;
    transform: translateX(-10px);
  }

  .kant-menu-wrapper {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 8px fade(@primary-color, 15%);
    background: #fff;
  }

  &.ant-select-dropdown-hidden {
    display: block;
    .kant-menu-wrapper {
      transform: translateY(-110%) !important;
      transition: transform 0.5s;
    }
  }

  &.dropdown-show {
    display: block;
  }

  &.dropdown-hidden {
    display: none;
  }
}
