@import '../assets/styles/vars.less';

@kant-and-menu: rgba(128,128,128,1);
@kant-second-menu-colors:rgba(128,128,128,1);
@kant-menugroup-color: rgba(51,51,51,1);
@kant-before-dot: #cccccc;

*{
  margin: 0;
  padding: 0;
}

.kant-sidermenu-content.ant-layout-sider {
  max-width: 279px !important;
  min-width: 0px !important;
  width: 279px !important;
  height: 100% !important;
  flex: none !important;
  box-shadow: @box-shadow-base;
}
.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll{
  overflow-x:hidden;
  overflow-y: auto;
}

.kant-sidermenu-content .kant-scroll .ant-menu-inline {
  border-right: 0px !important;
}

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-item {
  margin: 0 !important;
  height: 69px;
  display: flex;
  align-items:center;
}

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu
  > li.ant-menu-submenu > .ant-menu-submenu-title {
  margin: 0 !important;
  height: 69px !important;
  display: flex;
  align-items:center;
}
.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu
  > li.ant-menu-submenu .kant-submenu-title {
    display: flex;
    align-items:center;
  }

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-item > div > a {
  display:inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
}

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-submenu
  > .ant-menu-submenu-title > .kant-submenu-title > .kant-sub-icon {
  display: inline-block;
  color: @kant-and-menu;
}

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-submenu
  > .ant-menu-submenu-title > .kant-submenu-title > i {
    color: @kant-and-menu;
  }

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-submenu
  > .ant-menu-submenu-title > .kant-submenu-title > .kant-sub-text {
  display: inline-block;
  margin-left: 16px;
  font-size:20px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color: @kant-and-menu;
  line-height:34px;
}

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-item
  > .kant-menuitem-title > a > .kant-menuitem-icon {
    display: inline-block;
    color: @kant-and-menu;
  }

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-item
  > .kant-menuitem-title > a > i {
    color:@kant-and-menu;
  }

.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title > a > .kant-menuitem-icon {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title > a > i {
  color: @primary-color !important;
}

.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title > a > .kant-menuitem-text {
  color: @primary-color !important;
}

.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title:before {
  background: @primary-color !important;
}

.kant-sidermenu-content .ant-layout-sider-children > .kant-scroll > .ant-menu > li.ant-menu-item
  > .kant-menuitem-title > a > .kant-menuitem-text {
    display: inline-block;
    margin-left: 16px;
    font-size:20px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color: @kant-and-menu;
    line-height:34px;
  }

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item {
// 这个是获取焦点样式 submenu
  margin: 0px 0 !important;
  padding: 0px 0px !important;
  display: flex !important;
  align-items:center !important;
  height: 50px;
  width:279px;
  background:rgba(250,250,250,1);
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title {
  position: relative;
  padding-left: 106px !important;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title > a > .kant-menuitem-text {
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color: @kant-second-menu-colors;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title:before {
  content: '';
  display: inline-block;
  width:5px;
  height:5px;
  // background: @kant-second-menu-colors;
  background: @kant-before-dot;
  border-radius:50%;
  margin-right: 15px;
  vertical-align: center;
  position: absolute;
  top: 18px;
  left: 90px;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color: @kant-second-menu-colors !important;
}

.kant-sidermenu-content .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background:rgba(236,241,255,1) !important;
}

.kant-sidermenu-content .ant-layout-sider-children .ant-menu li.ant-menu-item-selected:after {
  display: none !important;
}

.kant-sidermenu-content .ant-layout-sider-children .ant-menu li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 3px solid @primary-color;
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
}

.kant-sidermenu-content .ant-layout-sider-children .ant-menu li.ant-menu-item-selected:before {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.kant-sidermenu-content .kant-submenu-title .kant-icon-allow {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  transform: rotate(0);
  transition: all 0.3s;
  color: @heading-color;
}

.kant-sidermenu-content .ant-menu-submenu-open .kant-submenu-title .kant-icon-allow {
  transform: rotate(90deg);
}

.kant-sidermenu-content .ant-menu-submenu-selected .kant-submenu-title .kant-icon-allow {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu-active .kant-submenu-title .kant-icon-allow {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu-arrow {
  display: none;
}

.kant-sidermenu-content .ant-menu-submenu-active .kant-sub-text {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu-active .kant-sub-icon {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu-active .kant-submenu-title > i {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu-active .ant-menu-submenu-arrow:before {
  background:  @primary-color !important;
}

.kant-sidermenu-content .ant-menu-submenu-active .ant-menu-submenu-arrow:after {
  background:  @primary-color !important;
}
.kant-sidermenu-content .ant-menu-item-active .kant-menuitem-text {
  color: @primary-color !important;
}

.kant-sidermenu-content .ant-menu-item-active .kant-menuitem-icon {
  color: @primary-color !important;
}

.kant-sidermenu-content .kant-menuitem-title:hover .kant-menuitem-title::before {
  background:  @primary-color !important;
}

.kant-sidermenu-content .ant-menu-item-active .kant-menuitem-title::before {
  background:  @primary-color !important;
}
.kant-sidermenu-content .ant-menu-item-active .kant-menuitem-title > a > i {
  color:  @primary-color !important;
}

.kant-sidermenu-content .ant-menu-submenu-selected > .ant-menu-submenu-title > .kant-submenu-title > .kant-sub-text {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu-selected .ant-menu-submenu-title .kant-sub-icon {
  color: @primary-color !important;
}

.kant-sidermenu-content .ant-menu-submenu-selected .ant-menu-submenu-title .kant-submenu-title > i {
  color: @primary-color !important;
}

.kant-sidermenu-content.ant-layout-sider-collapsed {
  animation: moveSider 0.2s Linear forwards;
  height: 100% !important;
  flex: none !important;
  box-shadow: @box-shadow-base;
}

.kant-sidermenu-content .ant-menu-inline-collapsed {
  animation: moveMenu 0.2s Linear forwards;
  border: none;
}

.kant-sidermenu-content.ant-layout-sider-collapsed  .kant-submenu-title .kant-sub-text {
  display: none !important;
}

.kant-sidermenu-content.ant-layout-sider-collapsed  .kant-menuitem-title .kant-menuitem-text {
  display: none !important;
}

.kant-sidermenu-content.ant-layout-sider-collapsed .ant-layout-sider-children > .ant-menu > li.ant-menu-item {
  width: 100%;
}

.kant-sidermenu-content.ant-layout-sider-collapsed .ant-menu > .ant-menu-submenu .ant-menu-submenu-title {
  padding: 0 2px 0 0 !important;
  display: flex !important;
  justify-content:center !important;
}
.kant-sidermenu-content.ant-layout-sider-collapsed .ant-menu .ant-menu-item {
  padding: 0 2px 0 0 !important;
  display: flex !important;
  justify-content:center !important;
}
.kant-sidermenu-content.ant-layout-sider-collapsed .ant-menu-submenu {
  position: relative;
  color:@kant-menugroup-color;
}

.kant-sidermenu-content.ant-layout-sider-collapsed .kant-icon-allow {
  display: none;
}
.kant-sidermenu-content .ant-menu-inline-collapsed .ant-menu-submenu:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 3px solid @primary-color;
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
}
.kant-sidermenu-content.ant-layout-sider-collapsed .ant-menu-submenu-selected {
  background: #ECF1FF !important;
}
.kant-sidermenu-content .ant-menu-inline-collapsed .ant-menu-submenu-selected:after {
  opacity: 1;
  height: 69px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.kant-menuitemgroup-content .ant-menu-item-group-title {
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:@kant-menugroup-color;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:center;
}

.kant-menuitemgroup-content .ant-menu-item-group-title .kant-itemgroup-title {
  margin-left: 21px;
  display: flex;
  align-items:center;
}

.kant-menuitemgroup-content .ant-menu-item-group-title .kant-itemgroup-text {
  margin-left: 10px;
}
.ant-menu-vertical.ant-menu-sub .kant-menuitemgroup-content{
  min-width: 186px !important;
  border:1px solid @border-color-base !important;
  box-shadow:@box-shadow-base !important;
}

.kant-menuitemgroup-content .kant-itemgroup-icon {
  margin-right: 10px;
}

.kant-menuitemgroup-content .ant-menu-item-group-list {
  margin-left: 1px !important;
  background:rgba(250,250,250,1) !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item {
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items:center;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title {
  margin-left: 51px;
  margin-right: 30px;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title > a {
  display: flex;
  align-items:center;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title i {
  color: @kant-second-menu-colors !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title .kant-menuitem-text {
  color:@kant-second-menu-colors;
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-active .kant-menuitem-title i {
  color:  @primary-color !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-active .kant-menuitem-text {
  color: @primary-color !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title:before {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  // background: @kant-second-menu-colors;
  background: @kant-before-dot;
  position: absolute;
  top: 21px;
  left: 36px;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-selected .kant-menuitem-text {
  color:  @primary-color !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-selected .kant-menuitem-title i {
  color:  @primary-color !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-active .kant-menuitem-title:before {
  background:  @primary-color;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-selected .kant-menuitem-title:before {
  background:  @primary-color;
}

.kant-sider-free {
  min-width: 0 !important;
  animation: moveSiderNormal 0.3s Linear;
}

// .kant-sider-free .ant-menu-inline {
//   width: 100% !important;
// }

// .kant-sider-free .ant-menu-submenu-inline {
//   width: 100% !important;
// }
// .kant-sider-free .ant-menu-item {
//   width: 100% !important;
// }

@keyframes moveSider {
  from {
    width: 280px;
    max-width: 280px !important;
  }
  to {
    width: 110px;
    max-width: 110px !important;
  }
}

@keyframes moveMenu {
  from {
    width: 280px;
    max-width: 280px !important;
  }
  to {
    width: 109px;
    max-width: 109px !important;
  }
}

@keyframes moveSiderNormal {
  from {
    width: 110px;
  }
  to {
    width: 280px;
  }
}

.ant-menu-inline-collapsed-tooltip .ant-tooltip-arrow {
  border-right-color: white;
}
.ant-menu-inline-collapsed-tooltip .ant-tooltip-inner {
  background: white;
}
.ant-menu-inline-collapsed-tooltip .kant-menuitem-title a{
  display: flex;
  align-items: center;
}
.ant-menu-inline-collapsed-tooltip .kant-menuitem-title span {
  color: @kant-second-menu-colors !important;
  display: inline-block;
  height: 50px;
  margin-left: 21px;
  display: flex;
  align-items: center;
}
.ant-menu-inline-collapsed-tooltip .ant-tooltip-content {
  min-width:186px;
}
.ant-menu-inline-collapsed-tooltip {
  left: 107px !important;
}

.kant-menu-head {
  width: 280px;
  height: 50px;
  box-shadow:1px 1px 20px 0px rgba(40,40,40,0.1);
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  // animation: moveHeadRevese 0.2s Linear forwards;
  padding-left:229px;
}

.kant-head-icon {
  display: inline-block;
  cursor: pointer;
  color: @primary-color;
}

.ant-layout-sider-collapsed .kant-menu-head {
  height: 50px;
  box-shadow:1px 1px 20px 0px rgba(40,40,40,0.1);
  margin-bottom: 2px;
  animation: moveHead 0.2s Linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.ant-layout-sider-collapsed .kant-head-icon {
  margin: 0 !important;
  animation: moveHeadRevese 0.2s Linear forwards;
}

.kant-sider-free .kant-menu-head {
  width: 100% !important;
  // animation: moveHeadRevese 0.3s Linear forwards;
}

@keyframes moveHead{
  from {
    width: 280px;
  } to {
    width: 110px;
  }
}

@keyframes moveHeadRevese{
  0% {
    padding-left: 229px;
  }
  100% {
    padding-left: 0px;
  }
}

.kant-selectedKeys > ul > .kant-menuitemgroup-content > .ant-menu-item-group-title > .kant-itemgroup-title > i {
  color:  @primary-color;
}

.kant-selectedKeys > ul > .kant-menuitemgroup-content > .ant-menu-item-group-title > .kant-itemgroup-title > span {
  color:  @primary-color;
}


#kant-scroll::-webkit-scrollbar {
  width:5px;
  border-radius: 2px;
}
#kant-scroll::-webkit-scrollbar-track {
  border-radius: 2px;
  background:rgba(230,230,230,1);
}

#kant-scroll::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background:rgba(179,179,179,1);
}
#kant-scroll::-webkit-scrollbar-button {
  height: 4px;
}
.roteClass {
  transform:rotate(0);
  transform-origin: 50% 50%;
}

.kant-icon-rote {
  font-size: 10px;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  transition: all 0.5s;
}

.bottom-icon {
  color: #CADCFD;
  display:block;
  font-size: 20px;
  padding-bottom:1px !important;
  height: 8px;
}
.top-icon {
  color: #86AAFF;
  transform:rotate(180deg);
  display:block;
  font-size: 20px;
}

.kant-icon-rote .bottom-icon {
  color: #86AAFF;
}
.kant-icon-rote .top-icon {
  color: #CADCFD;
}

.ant-layout-sider-collapsed .kant-head-icon .bottom-icon {
  color: #86AAFF !important;
}
.ant-layout-sider-collapsed .kant-head-icon .top-icon {
  color: #CADCFD !important;
}
.ant-layout-sider-collapsed .kant-icon-rote .bottom-icon {
  color: #CADCFD;
}
.ant-layout-sider-collapsed .kant-icon-rote .top-icon {
  color: #86AAFF;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu .ant-menu-submenu-title .kant-submenu-title .kant-icon-allow {
  color: @kant-and-menu !important;
  transform: rotate(0);
  transition: all 0.3s;
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu .ant-menu-submenu-title .kant-submenu-title i {
  color: @kant-and-menu !important;
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu-selected .ant-menu-submenu-title .kant-submenu-title .kant-icon-allow {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu-open .ant-menu-submenu-title .kant-submenu-title .kant-icon-allow {
  transform: rotate(90deg);
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu-selected .ant-menu-submenu-title .kant-submenu-title i {
  color:@primary-color !important;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu .ant-menu-submenu-title {
  color: @kant-and-menu !important;
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu-selected .ant-menu-submenu-title .kant-sub-text {
  color: @primary-color !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-submenu .ant-menu-submenu-title .kant-submenu-title {
  display: flex !important;
  align-items: center !important;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-submenu .ant-menu-submenu-title
  .kant-submenu-title .kant-icon-allow {
  display: none;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-submenu-selected
  .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
    background: @primary-color !important;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-submenu-selected
  .ant-menu-submenu-title .ant-menu-submenu-arrow::before{
    background: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu-active .ant-menu-submenu-title .kant-submenu-title i {
  color: @primary-color !important;
}
.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-submenu-active .ant-menu-submenu-title .kant-submenu-title .kant-icon-allow {
  color: @primary-color !important;
}

.kant-sidermenu-content.retractModeClass {
  max-width: 0 !important;
}
