.kant-menu-link {
  width: 100%;
  height: 100%;
  color: #595959;
}


*{
  margin: 0;
  padding: 0;
}

.kant-sidermenu-content.ant-layout-sider {
  max-width: 279px !important;
  width: 279px !important;
  height: 100% !important;
  flex: none !important;
  box-shadow:0px 0px 8px 0px rgba(40,40,40,0.1);
}

.kant-sidermenu-content .ant-menu-inline {
  border-right: 0px !important;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu > li.ant-menu-item {
  margin: 0 !important;
  width: 279px;
  height: 69px;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu
  > li.ant-menu-submenu > .ant-menu-submenu-title > .kant-submenu-title {
  height: 40px;
  line-height: 40px;
  width: 134px;
  margin-top:14.5px;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu
  > li.ant-menu-submenu > .ant-menu-submenu-title {
  margin: 0 !important;
  height: 69px !important;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu > li.ant-menu-item
  > .kant-menuitem-title {
  height: 40px;
  margin-top:14.5px;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu > li.ant-menu-submenu
  > .ant-menu-submenu-title > .kant-submenu-title > .kant-sub-icon {
  display: inline-block;
  padding-left: 12px;
  width: 40px;
  height: 40px;
  color:rgba(128,128,128,1);
}
.kant-sidermenu-content .ant-layout-sider-children > .ant-menu > li.ant-menu-submenu
  > .ant-menu-submenu-title > .kant-submenu-title > .kant-sub-text {
  display: inline-block;
  margin-left: 16px;
  font-size:20px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(128,128,128,1);
  line-height:34px;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu > li.ant-menu-item
  > .kant-menuitem-title > a > .kant-menuitem-icon {
    display: inline-block;
    padding-left: 12px;
    width: 40px;
    height: 40px;
    color:rgba(128,128,128,1);
  }

.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title > a > .kant-menuitem-icon {
  color:rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title > a > .kant-menuitem-text {
  color:rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-item-selected .kant-menuitem-title:before {
  background:rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-layout-sider-children > .ant-menu > li.ant-menu-item
  > .kant-menuitem-title > a > .kant-menuitem-text {
    display: inline-block;
    margin-left: 16px;
    font-size:20px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(128,128,128,1);
    line-height:34px;
  }

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item {
// 这个是获取焦点样式 submenu
  margin: 0px 0 !important;
  padding: 0px 0px !important;
  height: 50px !important;
  line-height: 50px !important;
  width:279px;
  background:rgba(250,250,250,1);
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 106px !important;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title > a > .kant-menuitem-text {
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(128,128,128,1);
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title:before {
  content: '';
  display: inline-block;
  width:5px;
  height:5px;
  background:rgba(153,153,153,1);
  border-radius:50%;
  position: absolute;
  top: 22px;
  left: 90px;
}

.kant-sidermenu-content .ant-menu-submenu > ul > .ant-menu-item > .kant-menuitem-title > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(128,128,128,1) !important;
}

.kant-sidermenu-content .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background:rgba(236,241,255,1) !important;
}

.kant-sidermenu-content .ant-layout-sider-children .ant-menu li.ant-menu-item-selected:after {
  display: none !important;
}

.kant-sidermenu-content .ant-layout-sider-children .ant-menu li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 3px solid #4576FD;
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
}

.kant-sidermenu-content .ant-layout-sider-children .ant-menu li.ant-menu-item-selected:before {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.kant-sidermenu-content .ant-menu-submenu-arrow {
  right: 24px !important;
  top: 54% !important;
  width: 15px !important;
  height: 10px !important;
}

.kant-sidermenu-content .ant-menu-submenu-open .ant-menu-submenu-arrow {
  top: 47% !important;
}

.kant-sidermenu-content .ant-menu-submenu-arrow:after {
  width: 12px !important;
  background-image: linear-gradient(to right, rgba(179,179,179,1), rgba(179,179,179,1)) !important;
  transform: rotate(45deg) translateX(-6px) !important;
}
.kant-sidermenu-content .ant-menu-submenu-arrow:before {
  width: 12px !important;
  transform: rotate(-45deg) translateX(6px) !important;
  background-image: linear-gradient(to right, rgba(179,179,179,1), rgba(179,179,179,1)) !important;
}
.kant-sidermenu-content .ant-menu-submenu-open .ant-menu-submenu-arrow:before {
  transform: rotate(45deg) translateX(6px) !important;
}
.kant-sidermenu-content .ant-menu-submenu-open .ant-menu-submenu-arrow:after {
  transform: rotate(-45deg) translateX(-6px) !important;
}

.kant-sidermenu-content .ant-menu-submenu-title:hover .kant-sub-text {
  color:rgba(69,118,253,1) !important;
}
.kant-sidermenu-content .ant-menu-submenu-title:hover .kant-sub-icon {
  color:rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
  background: rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after {
  background: rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .kant-menuitem-title:hover .kant-menuitem-text {
  color:rgba(69,118,253,1) !important;
}
.kant-sidermenu-content .kant-menuitem-title:hover .kant-menuitem-icon {
  color:rgba(69,118,253,1) !important;
}
.kant-sidermenu-content .kant-menuitem-title:hover .kant-menuitem-title::before {
  background: rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-item-active .kant-menuitem-title::before {
  background: rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-submenu-selected .ant-menu-submenu-title .kant-sub-text {
  color:rgba(69,118,253,1) !important;
}
.kant-sidermenu-content .ant-menu-submenu-selected .ant-menu-submenu-title .kant-sub-icon {
  color:rgba(69,118,253,1) !important;
}

.kant-sidermenu-content .ant-menu-vertical {
  width: 110px !important;
}

.kant-sidermenu-content.ant-layout-sider-collapsed {
  max-width: 109px !important;
  width: 109px !important;
  height: 100% !important;
  flex: none !important;
  box-shadow:0px 0px 8px 0px rgba(40,40,40,0.1);
}

.kant-sidermenu-content.ant-layout-sider-collapsed  .kant-submenu-title .kant-sub-text {
  display: none !important;
}

.kant-sidermenu-content.ant-layout-sider-collapsed  .kant-menuitem-title .kant-menuitem-text {
  display: none !important;
}

.kant-sidermenu-content.ant-layout-sider-collapsed .ant-layout-sider-children > .ant-menu > li.ant-menu-item {
  width: 109px;
}

.kant-sidermenu-content.ant-layout-sider-collapsed .ant-menu-submenu {
  position: relative;
  color:rgba(51,51,51,1);
}
.kant-sidermenu-content .ant-menu-inline-collapsed .ant-menu-submenu:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 3px solid #4576FD;
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
}
.kant-sidermenu-content.ant-layout-sider-collapsed .ant-menu-submenu-selected {
  background: #ECF1FF !important;
}
.kant-sidermenu-content .ant-menu-inline-collapsed .ant-menu-submenu-selected:after {
  opacity: 1;
  height: 69px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.kant-menuitemgroup-content .ant-menu-item-group-title {
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  width: 185px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.ant-menu-submenu-active .kant-menuitemgroup-content  .kant-itemgroup-title {
  height:16px;
  margin-left: 21px;
}

.ant-menu-vertical.ant-menu-sub .kant-menuitemgroup-content{
  min-width: 186px !important;
  border:1px solid rgba(69, 118, 253, 0.25) !important;
  box-shadow:0px 2px 12px 0px rgba(26,26,26,0.1) !important;
}

.kant-menuitemgroup-content .kant-itemgroup-icon {
  height: 16px;
  width: 20px;
  margin-right: 10px;
}

.kant-menuitemgroup-content .ant-menu-item-group-list {
  margin-left: 1px !important;
  width: 183px;
  background:rgba(250,250,250,1) !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title {
  height: 16px;
  margin-left: 51px;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title .kant-menuitem-text {
  color:rgba(128,128,128,1);
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-active .kant-menuitem-text {
  color:rgba(69,118,253,1) !important;
}

.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item .kant-menuitem-title:before {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: rgba(128,128,128,1);
  position: absolute;
  top: 21px;
  left: 36px;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-selected .kant-menuitem-text {
  color: rgba(69,118,253,1) !important;
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-active .kant-menuitem-title:before {
  background: rgba(69,118,253,1);
}
.kant-menuitemgroup-content .ant-menu-item-group-list .ant-menu-item-selected .kant-menuitem-title:before {
  background: rgba(69,118,253,1);
}
