@custom-color: #31c27c;

.kant-date-picker-layout {
  display: inline-block;
  width: 100%;
}

.kant-date-picker {
  width: calc(50% - 10px);
}

.kant-date-picker-theme-underline .ant-input  {
  border-style: none none solid none !important;
  border-radius: 0 !important;
}

.kant-date-picker-theme-underline .ant-select-selection {
  border: 0;
  border-top-width: 0px;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2) !important;
}

.kant-date-picker-theme-underline:focus {
  box-shadow: 0 1px 0 0 rgba(24, 144, 255, 0.2) !important;
}

.kant-date-picker-theme-underline {
  .ant-input:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
  }
}

.kant-date-picker-theme-underline .ant-select-selection:hover {
  border-bottom: 1px solid #40a9ff;
}

.kant-date-picker-theme-underline .ant-select-selection:focus {
  box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2) !important;
}

.kant-select-calendar-icon {
  font-size: 14px;
}
