.kant-side-block{
  position: fixed;
  z-index: 9999;
  left: 10px;
  top: 30px;
}
.kant-cp {cursor: pointer !important;}

.kant-fixedmenu-content {
  left: 427px;
  top: 351px;
}
.kant-hidden{ display: none;}
.kant-hidden-o{
  opacity: 0;
}
.kant-show{ display: block;}
.kant-show-o{
  opacity: 1;
}

