.kant-textarea-input > textarea.ant-input {
  display: block;
  padding: 2px 20px 2px 10px;
  margin: 0px;
  resize:none;
}

#kan-textArea ::-webkit-scrollbar {
  width:5px;
  border-radius: 2px;
  background:white;
}
#kan-textArea ::-webkit-scrollbar-track {
  border-radius: 2px;
  background:rgba(230,230,230,1);
}

#kan-textArea ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background:rgba(179,179,179,1);
}

#kan-textArea ::-webkit-scrollbar-button{
  height: 2px;
  background: white;
}

.ant-input:focus{
  box-shadow: 0 1px 0 0 fade(@primary-color, 20%) !important;
}