textarea.ant-input {
  display: block;
  padding: 0 !important;
  padding-right: 30px !important;
  margin: 0 !important;
  resize: none !important;
  border-radius: 0 !important;
  box-shadow: none;
  border: none;
}

textarea.ant-input:focus {
  box-shadow: 0 0px 0 0 rgba(24, 144, 255, 0.2) !important;
  border: none;
}

.kant-textarea-blur {
  border:1px solid rgba(235, 235, 235, 1);
  border-radius:4px;
  padding: 13px 11px 15px 21px;
}

.kant-textarea-focus {
  border:1px solid #40a9ff;
  box-shadow:0px 0px 5px 0px rgba(69,118,253,0.3);
  border-radius:4px;
  padding: 13px 11px 15px 21px;
}

::-webkit-scrollbar {
  width:5px;
  border-radius: 2px;
  background:white;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background:rgba(230,230,230,1);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background:rgba(153,153,153,1);
}

::-webkit-scrollbar-button{
  height: 5px;
  background: white;
}
