@import '../assets/styles/vars.less';

.kant-button-content {
  display: inline-block;
}

.kant-button-content .ant-btn {
  width: 100px;
  height: 100px;
  border: none;
}
.kant-button-content .ant-btn:focus {
  background-color: none;
  border: none;
}
.kant-button-content .ant-btn:hover {
  background-color: none;
  border: none;
  box-shadow:0px 0px 5px 5px rgba(0,0,0,0.1);
}
.kant-button-content .kant-wave-button {
  font-size: 13px;
  position: relative;
  overflow: hidden;
}

.kant-button-content .kant-wave-button:after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background: white;
  animation: move 0.8s ease alternate;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0 !important;
  margin: auto;
}
@keyframes move {
  from {
    transform: scale(1);
    width: 15px;
    height: 15px;
    opacity: 0.3;
  }
  to {
    transform: scale(3);
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

