.kant-breadcrumb-current {
  color: #333333;
  display: flex;
  align-items: center;
}

.ant-breadcrumb > span{
  display: flex;
  align-items: center;
}

.ant-breadcrumb span {
  font-size: 24px;
}

.ant-breadcrumb > span > .ant-breadcrumb-link > a {
  display: flex;
  align-items: center;
}
.ant-breadcrumb {
  display: flex;
  justify-content: flex-start;
}
