
// 引入 antd 主题变量
@import "~antd/es/style/themes/index.less";

// kant-ui 自定义主题变量
@kant-header-bg: #fff;
@progress-bar-outer-bg: #d5e0ff;       // 进度条底部颜色
@progress-bar-bg: #658dfe;             // 进度条颜色
@progress-bar-sprint-bg: #99b2f8;      // 进度条动画颜色

// 警告&报错背景色
@warning-background-color: #FBDDDD;

// 打印
@kant-print-view-pg: #eee;                // 打印预览界面背景色
@kant-print-table-border-coloe: #333;     // 打印表格边框颜色
@kant-print-base-coloe: #666;             // 打印字体基本颜色
@kant-print-table-head-coloe: #333;       // 打印表格头部字体颜色

// 表格三色
@table-primary-color: fade(@primary-color, 100%);
@table-sub-color: fade(@primary-color, 33.33%);
@table-color: fade(@primary-color, 3.33%);
// 表格列选中的背景色
@table-selected-color: #F9F9F9FF;
