.side-block-qr {
  position: absolute;
  top: -20px;
  right: 40px;
}
.side-block-qr-wrapper img {
  width: 100%; height: auto;
}
.side-block-qr-wrapper {
  width: 110px;
  height: 110px;
  padding: 20px 30px 20px 20px;
  /* background: url('../assets/img/layout/side-shadow.png') 2px 5px 152px no-repeat;  */
}


.side-block-list{
  width: 44px;
  border-radius: 22px;
  overflow: hidden;
  background: #fff;
  /* box-shadow: 0 4px 18px 1px rgba($color: #4986EA, $alpha: 0.2); */
  border: 1px solid #F0F0F0;
}

.side-block-list div{
  height: 44px;
}

.side-block-list-weixin {
  /* background:#f7f7f7 url('../assets/img/layout/weixin-graw.png') center center 54% no-repeat; */
  border-bottom: 1px solid #F0F0F0;
}

.side-block-list-weixin:hover {
  /* background: #fff url('../assets/img/layout/weixin-blue.png'); */
}

.side-block-list-arrow{
  // background: #f7f7f7 url('../images/arrow-up-blue.png') center center 40% no-repeat;
}
.side-block-list-arrow:hover{
  /* background:#fff url('../assets/img/layout/arrow-up-blue.png'); */
}
.side-block{
  position: fixed;
  z-index: 9999;
  right: 24px;
  bottom: 100px;
}

.hidden{ display: none;}
.hidden-o{
  /* @extend %transition-opacity; */
  opacity: 0;
}
.show{ display: block;}
.show-o{
  /* @extend %transition-opacity; */
  opacity: 1;
}

.cp {cursor: pointer !important;}
